# Python caching
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# Results files
*.xlsx
*.json
Quadratic Lecture Hall Assignment Problem.zip

# Data and Literature (Untracked)
ITC2019/
Lit/
prepared_itc2019/
2025davisonphd.pdf

# LaTeX build artifacts
*.aux
*.log
*.pid
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.out
lancs-yr23.zip
